

  :root {
	--pink: #f14e95;
	--bg: #0a0a0a;
	--shadow:0 2px 2px rgb(0 0 0 / 0.5);
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	color:blue;
}

b {
	color: rgb(0, 0, 0);
	transition-duration: 0.4s;
}
b:hover {
	background-color: transparent; /* Green */
	color: lightskyblue;
}

body {
	font-size: 1.2rem;
	font-family: 'Work Sans', sans-serif;
	min-height: 700px;
    background-color: lightgray;
	background-size: cover;
	background-position: center;
}


.mynavbar {
	background-color: rgb(255, 255, 255, 0.3) !important;
	backdrop-filter: blur(4px) ;
}
.mynavbar .offcanvas {
	height: 100vh;
}
.mynavbar img {
	border-radius: 5px;
	padding: auto;
	margin-bottom: 5px;
}
.mynavbar .navbar-brand {
	font-family: 'Tilt Neon';
	font-size: 2rem;
	font-weight: bold;
	color: rgb(0, 0, 0);
    
} 
.mynavbar .offcanvas-title {
	font-family: 'Bad Script';
	font-size: 2rem;
	font-weight: bold;
}
.mynavbar .nav-link {
	text-transform: uppercase;
	font-family: 'Tilt Neon';
}


.lb {
    margin-top: 80px;
}
.lb img {
    border-radius: 5px;
    width: 300px;
    height: 170px;
}
.lb h3 h2 {
    font-size: 1.5rem;
    font-family: 'Gabarito';
}

.lb2 img{
    width: 30rem;
    border-radius: 5px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.social-media a:hover {
    color: #007BFF;
}


.footer-content {
    max-width: 500px;
    margin: -5px auto;
	align-items: center;
}